.About{
    position: absolute;
    left: 70%;
    top:40%;
    width:20%;
    margin-left: 50px;
    margin-right: 10px;
    font-family: 'Helvetica Neue';
    animation: lateLoad 5s;
    h1{    
        animation: colorChange 2s;
        animation-iteration-count: infinite;
    }
}

@keyframes colorChange {
    0%{color:black}
    35%{color:red}
    70%{color:yellow}
    100%{color:black}
}

@keyframes lateLoad {  
    0%{opacity: 0}
    75%{opacity: 0}
    100%{opacity: 1}
}